/* You can add global styles to this file, and also import other style files */

// Issue: https://github.com/primefaces/primeflex/issues/91#issuecomment-1138560974
@forward 'libs/shared/asset/freya/src/lib/theme/dehub/theme.scss' hide $colors;
@import 'libs/shared/asset/freya/src/lib/layout/css/layout-dehub.scss';

@import '~primereact/resources/primereact.min.css';
@import '~primeflex/primeflex.scss';
@import '~primeicons/primeicons.css';

@import '~swiper/swiper.min.css';

.p-slider:not(.p-disabled) .p-slider-handle {
  background: rgb(31, 199, 212);
  border: none;

  &:hover {
    background: rgb(31, 199, 212);
  }
}

.p-slider .p-slider-range {
  background: rgb(31, 199, 212) !important;
}
