<div class="layout-topbar">
  <div class="layout-topbar-wrapper">
    <div class="layout-topbar-left">
      <a
        tabindex="0"
        class="menu-button"
        (click)="appMain.onMenuButtonClick($event)"
      >
        <i class="pi pi-bars"></i>
      </a>
      <a routerLink="" tabindex="0" id="logo-link" class="layout-topbar-logo">
        <img
          [src]="
            path +
            '/assets/dehub/logo-' +
            (app.topbarTheme === 'dark' ? 'dehub-white' : 'dehub') +
            '.svg'
          "
          alt="DeHUB logo"
        />
      </a>
    </div>

    <dhb-menu></dhb-menu>

    <div class="layout-topbar-right">
      <ul class="layout-topbar-actions">
        <li
          class="topbar-item user-profile"
          [ngClass]="{
            'active-topmenuitem fadeInDown':
              appMain.activeTopbarItem === 'profile'
          }"
        >
          <a href="#" (click)="appMain.onTopbarItemClick($event, 'profile')">
            <img
              [src]="path + '/assets/layout/images/avatar-profilemenu.png'"
              alt="freya-layout"
            />
          </a>
          <ul class="fadeInDown">
            <ng-container *ngIf="user$ | async as user; else needLogin">
              <!-- Logout -->
              <li>
                <a>
                  <span>{{ user.attributes.ethAddress }}</span>
                </a>
              </li>
              <li>
                <a (click)="logout()"> <span>Logout</span> </a>
              </li>
            </ng-container>
            <ng-template #needLogin>
              <!-- Logins -->
              <li>
                <a (click)="login()">
                  <span>Login With Metamask</span>
                </a>
              </li>
              <li>
                <a (click)="login('walletconnect')">
                  <span>Login With WalletConnect</span>
                </a>
              </li>
            </ng-template>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
