<div class="layout-topbar">
  <div class="layout-topbar-wrapper">
    <div class="layout-topbar-left">
      <a
        tabindex="0"
        class="menu-button"
        (click)="appMain.onMenuButtonClick($event)"
      >
        <i class="pi pi-bars"></i>
      </a>
      <a routerLink="" tabindex="0" id="logo-link" class="layout-topbar-logo">
        <img
          [src]="
            path +
            '/assets/dehub/logo-' +
            (app.topbarTheme === 'dark' ? 'dehub-white' : 'dehub') +
            '.svg'
          "
          alt="DeHUB logo"
        />
      </a>
    </div>

    <dhb-menu></dhb-menu>

    <div class="layout-topbar-right hidden md:flex">
      <ul class="layout-topbar-actions">
        <li class="topbar-item">
          <p-splitButton
            label="Buy DeHub"
            icon="pi pi-shopping-cart"
            [model]="[]"
          ></p-splitButton>
        </li>
        <li class="topbar-item ml-4">
          <dhb-connect-wallet [chainId]="chainId"></dhb-connect-wallet>
        </li>
      </ul>
    </div>
  </div>
</div>
