<div class="layout-topbar">
  <div class="layout-topbar-wrapper flex-column sm:flex-row">
    <div class="layout-topbar-left">
      <a
        *ngIf="isDev"
        tabindex="0"
        class="menu-button"
        (click)="appMain.onMenuButtonClick($event)"
      >
        <i class="pi pi-bars"></i>
      </a>
      <a routerLink="" tabindex="0" id="logo-link" class="layout-topbar-logo">
        <img
          [src]="
            path +
            '/assets/dehub/logo-' +
            (app.topbarTheme === 'dark' ? 'dehub-white' : 'dehub') +
            '.svg'
          "
          alt="DeHub logo"
        />
      </a>
    </div>

    <dhb-menu *ngIf="isDev"></dhb-menu>

    <div class="layout-topbar-right">
      <ul class="layout-topbar-actions">
        <li class="topbar-item">
          <dhb-buy-dehub-button
            [items]="buyDehubMenuItems"
          ></dhb-buy-dehub-button>
        </li>
        <li class="topbar-item ml-2 md:ml-4">
          <dhb-connect-wallet-button
            [label]="(connectWalletButtonLabel$ | push)!"
            [isAuthenticated]="(isAuthenticated$ | push)!"
            [icon]="connectWalletButtonIcon"
          ></dhb-connect-wallet-button>
        </li>
      </ul>
    </div>
  </div>
</div>
