<div class="grid m-4">
  <div class="col-12">
    <div class="text-center">
      <img
        src="assets/dehub/icon-dehub-white.svg"
        alt="Dehub Icon"
        width="90px"
        class="m-4"
      />
    </div>
  </div>

  <div class="col-12 lg:col-4">
    <h2 class="text-center uppercase">Decentralised</h2>
  </div>

  <div class="col-12 lg:col-4">
    <h2 class="text-center uppercase">Entertainment</h2>
  </div>

  <div class="col-12 lg:col-4">
    <h2 class="text-center uppercase">Hub</h2>
  </div>
</div>

<div class="grid m-4">
  <div class="col-12 lg:col-6">
    <h2 class="col-12">The Decentralized Entertainment Hub</h2>

    <!-- Listed -->
    <p class="col-3 uppercase">Listed On:</p>
    <span class="col-9">
      <!-- Coingecko -->
      <a
        href="https://www.coingecko.com/en/coins/dehub"
        target="_blank"
        class="m-1"
      >
        <img src="/assets/landing/svg/coingecko-logo.svg" class="w-2rem" />
      </a>
      <!-- Coinmarketcap -->
      <a
        href="https://coinmarketcap.com/currencies/dehub/"
        target="_blank"
        class="m-1"
      >
        <img src="/assets/landing/svg/coinmarketcap-logo.svg" class="w-2rem" />
      </a>
    </span>

    <!-- Audits -->
    <p class="col-3 uppercase">Audits:</p>
    <span class="col-9">
      <!-- TechRate -->
      <a
        href="https://github.com/TechRate/Smart-Contract-Audits/blob/main/Dehub%20Standart%20Smart%20Contract%20Security%20Audit%20(3).pdf"
        target="_blank"
        class="m-1"
      >
        <button
          pButton
          pRipple
          type="button"
          label="TechRate"
          class="button-rounded"
        ></button>
      </a>
      <!-- CertiK -->
      <a
        href="https://leaderboard.certik.io/projects/dehub"
        target="_blank"
        class="m-1"
      >
        <button
          pButton
          pRipple
          type="button"
          label="CertiK"
          class="button-rounded"
        ></button>
      </a>
    </span>

    <!-- About -->
    <p class="col-12">
      DeHub is blockchain's first entertainment aggregator and licensed producer
      of original motion picture, exclusive Pay-Per-View events, and surreal
      gaming experiences. This unified ecosystem is all fueled with $DEHUB
      tokens through open-source software and secured by cutting-edge blockchain
      technology.
    </p>

    <!-- Buttons -->

    <div class="grid">
      <div class="col-12">
        <!-- White Paper -->
        <a
          href="/uploads/Dehub%20Whitepaper%20V3%20-%202021.pdf"
          target="_blank"
          class="m-1"
        >
          <button
            pButton
            pRipple
            type="button"
            label="White Paper"
            class="button-rounded uppercase"
          ></button>
        </a>

        <!-- Chart -->
        <a
          href="https://poocoin.app/tokens/0xfc206f429d55c71cb7294eff40c6adb20dc21508"
          target="_blank"
          class="m-1"
        >
          <button
            pButton
            pRipple
            type="button"
            label="Chart"
            class="button-rounded uppercase"
          ></button>
        </a>
      </div>

      <div class="col-12">
        <!-- Prize Draw White Paper -->
        <a
          href="/uploads/DeHub%20Prize%20Draw%20Whitepaper%20-%20V1.pdf"
          target="_blank"
          class="m-1"
        >
          <button
            pButton
            pRipple
            type="button"
            label="Prize Draw White Paper"
            class="button-rounded uppercase"
          ></button>
        </a>

        <!-- Buy -->
        <a
          href="https://pancakeswap.finance/swap?outputCurrency=0xFC206f429d55c71cb7294EfF40c6ADb20dC21508"
          target="_blank"
          class="m-1"
        >
          <button
            pButton
            pRipple
            type="button"
            label="Buy"
            class="button-rounded uppercase"
          ></button>
        </a>
      </div>
    </div>
  </div>
  <!-- Youtube Link-->
  <div class="col-12 lg:col-6">
    <img
      src="/assets/landing/meta-cover.jpg"
      class="max-w-full h-auto border-solid border-4"
    />
  </div>
</div>
