<dhb-landing-slogen></dhb-landing-slogen>

<h1 class="col-12 uppercase">The Decentralized Entertainment Hub</h1>

<!-- About -->
<dhb-landing-about></dhb-landing-about>

<!-- Links -->
<dhb-landing-links></dhb-landing-links>

<!-- Audits -->
<dhb-landing-audits></dhb-landing-audits>

<!-- Listed -->
<dhb-landing-listed></dhb-landing-listed>

<!-- Zones -->
<h1 class="col-12 uppercase">Project Features</h1>
<dhb-landing-zones></dhb-landing-zones>

<!-- Distribution -->
<h1 class="col-12 uppercase">Token Distribution</h1>
<dhb-landing-distribution></dhb-landing-distribution>

<!-- Trikenomics -->
<h1 class="col-12 uppercase">$DeHub "Trikenomics"</h1>
<dhb-landing-trikenomics></dhb-landing-trikenomics>

<!-- Partners -->
<h1 class="col-12 uppercase">Our Partners & Advisors</h1>
<dhb-landing-partners></dhb-landing-partners>

<!-- The Team -->
<h1 class="col-12 uppercase">The Team</h1>
<dhb-landing-team></dhb-landing-team>
