<dhb-landing-slogen></dhb-landing-slogen>

<div class="grid m-4">
  <div class="col-12 lg:col-6">
    <h2 class="col-12">The Decentralized Entertainment Hub</h2>

    <!-- Listed -->
    <dhb-landing-listed></dhb-landing-listed>

    <!-- Audits -->
    <dhb-landing-audits></dhb-landing-audits>

    <!-- About -->
    <dhb-landing-about></dhb-landing-about>

    <!-- Links -->
    <dhb-landing-links></dhb-landing-links>
  </div>

  <!-- Youtube Link -->
  <div class="col-12 lg:col-6">
    <dhb-landing-youtube></dhb-landing-youtube>
  </div>
</div>

<!-- Zones -->
<h2 class="col-12 uppercase">Project Features</h2>
<h2 class="col-12">DeHub consists of four core zones</h2>
<dhb-landing-zones></dhb-landing-zones>

<!-- Distribution -->
<h2 class="col-12">Token Distribution</h2>
<dhb-landing-distribution></dhb-landing-distribution>

<!-- Trikenomics -->
<h2 class="col-12">$DeHub "Trikenomics"</h2>
<dhb-landing-trikenomics></dhb-landing-trikenomics>

<!-- Partners -->
<h2 class="col-12">Our Partners & Advisors</h2>
<dhb-landing-partners></dhb-landing-partners>

<!-- The Team -->
<h2 class="col-12">The Team</h2>
<dhb-landing-team></dhb-landing-team>
